
html,
body {
  padding: 0;
  margin: 0;

  font-family: sans-serif;

  width: 100%;
  height: 100%;
  overflow: hidden;

  background: var(--background);
}

body {
  display: flex;
  flex-direction: column;
}

gaia-theme-selector {
  position: relative !important;
}

header {
  height: 50px;
  background: var(--highlight-color);
}

gaia-fast-list {
  flex: 1;
}
